@media screen and (min-width: 600px){
    .viewBottle {
        display: flex;
    }
}

.viewBottle-inner-img {
}

.viewBottle-outer-img {
    display: table;
    padding: 1em;
}

.viewBottle img {
    display: block;
}

.viewBottle-editor {
}