.bottleEditor {

}
.bottleEditor label{
    padding-left: 1em;
    display: block;
}
.bottleEditor input{
    width: 100%;
    padding: 5px;
}
.bottleEditor button{
    margin: 10px auto;
    padding: 10px;
}
.bottleEditor div:last-child {
    text-align: center;
}
