:root {
	--headerHeight: 56px
}

.header {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: var(--headerHeight);
	padding: 0;
	background: #673AB7;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
	color: #FFF;
}

.header h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
}

.header nav {
	width: 100%;
}

.header nav li:first-child {
	float: left;
}
.header nav li:not(:first-child) {
	float: right;
}
.header nav li ul {
	display: flex;
	flex-direction: row;
}
.header nav ul li {
	display: table-cell;
	vertical-align: middle;
	font-size: 2em;
}

.header ol, .header ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header nav a {
	display: inline-block;
	height: var(--headerHeight);
	line-height: var(--headerHeight);
	padding: 3px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
	background: rgba(0,0,0,0.2);
}

.header nav a.active {
	background: rgba(138, 102, 204, 0.4);
}