.newRack input[type=number] {
    width: 3em
}

.newRack ul li {
    list-style: none;
    display: flex;
    padding-bottom: 0.4em;
}

.newRack ul {
    display: flex;
    flex-direction: column;
}

.newRack label {
    width: 50%;
    text-align: right;
    padding-right: 1em;
}

.newRack label:after {
    content: ': '
}


.newRack li:last-child {
    margin: 0 auto;
}
